/* lobby.css */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body { 
    font-family: 'Inter', sans-serif; 
    overflow-x: hidden;
}

.font-mono-tech { 
    font-family: 'Space Grotesk', sans-serif; 
}

/* Sidebar sliding transition */
#sidebar {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar-hidden {
    transform: translateX(-100%) !important;
}

.sidebar-visible {
    transform: translateX(0) !important;
}

.canvas-expanded {
    margin-left: 0 !important;
}

/* Custom scrollbar to match the cyber aesthetic */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #131313;
}
::-webkit-scrollbar-thumb {
    background: #353534;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4edea3;
}